div{
    border: 1.5px black;
    border-style:solid;
    padding: 5px 20px 3px 10px;
    margin: 15px;
}
#valor {
    border: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
}
.valor {
    padding: 15px;
}
#pyc{
    border-style: none;              
    height: 100%;
    padding-top: 0%;
}
.mcetpm {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 5%; 
    align-items: start; 
}
#pyc img{
    width: 100%;
}
.pyc{
    border-style:none;
    flex: 1;        
    padding: 15px;
}
/*VISTA MOVIL*/
@media screen and (max-width: 1000px) {
    #valor {
        grid-template-columns: 1fr; 
    }
    #pyc{
        padding: 15px;
    }
}