/* styles.css */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../imagenes/BCLIDB.png');
    background-size: cover;      /* Ajusta la imagen al tamaño de la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


.container {
    max-width: 500px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.6);
    border: 2px dashed #f0f0f0;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px #000;
}

p {
    font-size: 1.2em;
    margin-bottom: 15px;
    line-height: 1.4;
}

.hint {
    font-style: italic;
    color: #bbb;
}
